{% extends 'admin/base.html.twig' %}

{% block title %}Login de l'administrateur{% endblock %}

{% block body %}
    <div class="container">
        <div class="card bg-info">
            <div class="card-header">
                <h2 class="admin card-title">Connexion a l'administration
                    <i class="fas fa-lock"></i></h2>
            </div>
            {%  if hasError %}
            <div class="alert alert-danger">
                <p>Les informations que vous avez fournir sont érronées !</p>
            </div>
                {% endif %}
                <form class="form bg-light" method="post">
                    <div class="form-group">
                        <label>
                            <input type="email" class="form-control" name="_username" placeholder="Email">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="password" class="form-control" name="_password" placeholder="Password">
                        </label>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-info"><i class="fas fa-lock-open"> | Connexion </i></button>
                    </div>
                        <a href="{{ path('home_index') }}" class="btn btn-link">
                            <i class="fas fa-arrow-alt-circle-left"></i> Retour au site !
                        </a>
                </form>

        </div>
    </div>
{% endblock %}
