{% extends 'base.html.twig' %}

{% block title %}Connexion au site{% endblock %}
{% block body %}
    <div class="container bg-light border border-info">
        <h1><center>Connexion</center></h1>
        <form action="{{ path('account_login') }}" method="POST">
            {% if hasError %}
                <div class="alert alert-danger">Une erreur est survenue, email ou mot de passe invalid</div>
            {% endif %}
            <div class="form-group">
                <label for="email">Email
                <input type="text" name="_username" id="email" class="form-control" placeholder="Adresse mail..."
                       value="{{ username }}">
                </label><!-- _username pour symfony -->
            </div>
            <div class="form-group">
                <label for="password">Mot de passe
                <input type="password" name="_password" id="password" class="form-control"
                       placeholder="Mot de passe...">
                </label><!-- _password pour symfony -->
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-info">Connexion</button>
            </div>
        </form>
    </div>
{% endblock %}
