{% extends 'base.html.twig' %}
{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
    <div class="container w-75 pt-5 pb-5 border border-danger bg-light ">
        <div class="form-group mx-auto w-50 ">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-info">Modifier le mot de passe !</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}



