{% extends 'base.html.twig' %}

{% block title %}Index des annonces{% endblock %}
{% block body %}
    <div class="container">
        <div class="text-bold m-4">
            <h1>Voici les annonces de nos hôtes</h1>
        </div>
        <div class="row">
            {% for annonce in annonces %}
            {% set url= path('annonce_show', {'slug': annonce.slug}) %}
            {% include 'annonce/_annonce.html.twig' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
