.selector-for-some-widget {
    box-sizing: content-box;
}

hr {
    height: 1px;
    background-color: gray;
}


a:link
{
    text-decoration: none;
    color: #000000;
}

.ad-style
{
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

.ad-style h1, .ad-style p, .text-bold h2
{
    text-shadow:3px 3px 3px  #0a0a0a;
}

.ad-style h1, .ad-style p, .text-bold h2, .monCompte
{
    color: white;
}

img
{
    margin-bottom: 20px;
}

.avatar {
    width: 20vh;
    height: 20vh;
    border-radius: 5%;
}

.avatar-medium
{
    width: 6vw;
    height: 6vh;
    border-radius: 25%;
}
.avatar-mini
{
    width: 4vw;
    height: 4vh;
    border-radius: 50%;
}

.badge-light
{
    margin-left: 100px;
}

.btn
{
    margin: 5px;
}

.card-header
{
    background-color: rgba(0, 0, 0, 0.11);
}

.container{
    margin-top: 20px;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover
{
    color: firebrick !important;
}

.fas,.far
{color: #ffcc00}

.form-group
{
    display: flex;
    justify-content: center;
    margin: 3vh;
}
.jumbotron
{
    background-color: rgba(80, 214, 200, 0.82)
}

.imgtable
{
    width: 30vw;
    height: 30vh;
}

nav
{
    margin-bottom: 50px;
}

.text-mt-5{
    color: #C9C9C9;
}
