.selector-for-some-widget {
    box-sizing: content-box;
}

hr {
    height: 1px;
    border: 0;
    background-color: gray;
}


.ad-style
{
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

.ad-style h1, .ad-style p, .text-bold h2
{
    text-shadow:3px 3px 3px  #0a0a0a;
}

.ad-style h1, .ad-style p, .text-bold h2, .monCompte
{
    color: white;
}

.avatar {
    width: 20vh;
    height: 20vh;
    border-radius: 5%;
}

.avatar-mini
{
    width: 3vw;
    height: 3vh;
    border-radius: 50%;
}

.badge-light
{
    margin-left: 100px;
}

.card-header
{
    background-color: rgba(0, 0, 0, 0.11);
}

.container{
    margin-top: 20px;
}

.jumbotron
{
    background-color: rgba(80, 214, 200, 0.82)
}

